@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#__next {
  height: 100%;
}


.filter-bar {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
